<div class="navi">
    <a href="/profile/edit">Hi {{session.firstname}} !</a>
    &nbsp; |
    <a href="/signers">&nbsp; {{signers}} Members</a>
    &nbsp; |
    <a href="/">&nbsp;Sign</a>
    &nbsp; |
    <a href="/profile/edit">&nbsp;Edit Profile</a>
    &nbsp; |
    <a href="/logout">&nbsp;Logout</a>
</div>
<div class="sign">
<h2>Sign our petition to make intentionally revealing movie and TV series <span class="red">spoilers</span> a criminal offence!</h2>
<form method="POST" action="/sign-petition">
    {{#if error}}
            <p class="error">Uh oh! Something's missing!</p>
    {{/if}}
    <img src="/spoils.png" class="spoiler">
    <br>
    <input type="hidden" name="signature" class="signature"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="canvas">
    <label for="sign">Sign here:</label>
    <canvas id="signature-canvas" width="400" height="70"></canvas>
    </div>
    <div class="submit">
    <button type="submit">Submit</button>
    </div>
</form>
</div>
