<div class="navi">
    <a href="/login">Login</a>
    <a href="/register">&nbsp;Register</a>
</div>
<div class="login">
<h2>Please log in to your account:</h2>
<form method="POST" action="/login">
    {{#if error}}
            <p class="error">Uh oh! Your email address or password does not match! Please try again...</p>
    {{/if}}
    <iframe src="https://giphy.com/embed/XdUFOwOUPgYDTiuGYE" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbs-instinct-cbs-instinctcbs-XdUFOwOUPgYDTiuGYE"></a></p>
    <br>
    <label for="email">Email:</label>
    <input type="text" name="email"  />
    <label for="password">Password:</label>
    <input type="password" name="password"  />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="submit">
    <button type="submit">Login</button>
    </div>
</form>
</div>
