<div class="navi">
    <a href="/login">Login</a>
    &nbsp; |
    <a href="/signers">&nbsp;Register</a>
</div>
<div class="login">
<h2>Please login to our petition:</h2>
<form method="POST" action="/login">
    {{#if error}}
            <p class="error">Uh oh! Something's missing!</p>
    {{/if}}
    <img src="Spoiler-Alert.png" class="spoiler">
    <br>
    <label for="email">Email:</label>
    <input type="text" name="email"  />
    <label for="password">Password:</label>
    <input type="password" name="password"  />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="submit">
    <button type="submit">Login</button>
    </div>
</form>
</div>
