<div class="navi">
    <a href="/profile">Hi you!</a>
    &nbsp; |
    <a href="/signers">&nbsp;All Members</a>
    &nbsp; |
    <a href="/">&nbsp;Sign</a>
    &nbsp; |
    <a href="/profile/edit">&nbsp;Edit Profile</a>
    &nbsp; |
    <a href="/logout">&nbsp;Logout</a>
</div>
<div class="profile">
<h2>Please tell us a little bit more about yourself</h2>
<form method="POST" action="/profile">
    {{#if error}}
            <p class="error">Your homepage should be start with http!</p>
    {{/if}}
    <img src="Spoiler-Alert.png" class="spoiler" >
    <br>
    <label for="age">Age:</label>
    <input type="text" name="age"  />
    <label for="city">City:</label>
    <input type="text" name="city" />
    <label for="homepage">Homepage:</label>
    <input type="url" name="homepage"  />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="submit">
    <button type="submit">Continue</button>
    </div>
</form>
</div>