<div class="navi">
    <a href="/login">Login</a>
    &nbsp; |
    <a href="/signers">&nbsp;Register</a>
</div>
<div class="believe">
   <a href="/sure"><span>Don't believe in the power of spoilers??</span></a>
</div>
<div class="register">
<h2>Register our petition to make intentionally revealing movie and TV series <span class="red">spoilers</span> a criminal offence!</h2>
<form method="POST" action="/register">
    {{#if error}}
            <p class="error">Uh oh! Something's missing!</p>
    {{/if}}
    <iframe src="https://giphy.com/embed/frGq1VRerF5GtPQqMb" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/AnimationOnFOX-the-simpsons-fox-bart-bad-guy-frGq1VRerF5GtPQqMb"></a></p>
    <br>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname"  />
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" />
    <label for="email">Email:</label>
    <input type="email" name="email"  />
    <label for="password">Password:</label>
    <input type="password" name="password"  />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="submit">
    <button type="submit">Register</button>
    </div>
</form>
</div>
