<div class="navi">
    <a href="/profile">Hi {{session.firstname}}!</a>
    &nbsp; |
    <a href="/signers">&nbsp;{{signers}} Members</a>
    &nbsp; |
    <a href="/">&nbsp;Sign</a>
    &nbsp; |
    <a href="/profile/edit">&nbsp;Edit Profile</a>
    &nbsp; |
    <a href="/logout">&nbsp;Logout</a>
</div>
<div class="thank">
<h2>YOU ARE IN! </h2>
<iframe src="https://giphy.com/embed/86nJuFHH25Uu4" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/86nJuFHH25Uu4"></a></p>
<p>YOUR SIGNATURE:</p>
<br>
<img src="{{signature}}" class="signature">
<br>
<a href="/signers" target="_blank">If you want to see the rest of us please click</a>

<form method="POST" action="/signature/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
    <button>Delete your signature</button>
</form>
</div>
